<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :series %>
    <%= form.text_field :series %>
  </div>

  <div class="field">
  <%= form.label :"season"%>
  <%= form.text_field :season %>
</div>

  <div class="field">
  <%= form.label :"duration of 1 episode (min) "%>
<%= form.text_field :duration %>
</div>

<div class="field">
<%= form.label :"writer of Manga"%>
<%= form.text_field :writer %>
</div>

<div class="field">
<%= form.label :"creator of anime"%>
<%= form.text_field :creator %>
</div>

<div class="field">
<%= form.label :"release date"%>
<%= form.text_field :release %>
</div>

<div class="field">
<%= form.label :body %>
<%= form.text_area :body %>
</div>

<div class="field">
<%= form.label :Images %>
<%= form.file_field :images, :multiple => true %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

