<p id="notice"><%= notice %></p>

<p class="">
  <strong>Topic starter:</strong>
  <%= @post.author.name %>
</p>

<p class="alert-success">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @post.series %>
</p>

<p>
  <strong>Season:</strong>
  <%= @post.season %>
</p>

<p>
  <strong>Duration of 1 episode (min) :</strong>
  <%= @post.duration %>
</p>

<p>
  <strong>Writer of manga: </strong>
  <%= @post.writer %>
</p>

<p>
  <strong>Creator of anime: </strong>
  <%= @post.creator %>
</p>

<p>
  <strong> Release date: </strong>
  <%= @post.release %>
</p>


<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <% @post.images.each do |image| %>
  
  <%= image_tag(image) %>
   <% end %>
</p>


<p>Kommentare:</p>
<ul>
  <% @post.comments.each do |comment| %>
    <li>"<%= comment.body %>" von <%= comment.commenter %></li>
  <% end %>
</ul>

<div class="panel panel-primary">
  <div class="panel-heading">Neuer Kommentar:</div>
  <div class="panel-body">
    <%= form_for @comment do |f| %>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>

      <%= f.hidden_field :post_id, value: @post.id %>

      <%= f.submit "Abschicken" %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
